/*Allen Version*/
/* Universal Styles*/

body {
	height: 100%;
	max-width: 100%;
	margin:0px;
	overflow-x: hidden;
}

@font-face {
font-family: "Whitney-Semibold";
src: url("Whitney_Real/Whitney-semibold.eot");
src: 
	url("Whitney_Real/Whitney-semibold.otf")
	format('opentype');
}

@font-face {
font-family: "Whitney-Book";
src: url("Whitney_Real/Whitney-Book.eot");
src: 
	url("Whitney_Real/Whitney-Book.otf")
	format('opentype');
}


h1 {
	font-family: Whitney-Semibold;
	font-size: 26px;
	color: #2B2B2B;
	letter-spacing: 2px;
	font-weight: normal;
}

h2 {
	font-family: Whitney-Semibold;
	font-size: 20px;
	color: #F7A1A1;
	letter-spacing: 2px;
	font-weight: normal;
}

.eighteen_black {
	font-family: Whitney-Semibold;
	font-size: 18px;
	color: #2B2B2B;
	letter-spacing: 2px;
	font-weight: normal;
}

.eighteen_white {
	font-family: Whitney-Semibold;
	font-size: 18px;
	color: white;
	letter-spacing: 2px;
	font-weight: normal;
}

.eighteen_salmon {
	font-family: Whitney-Semibold;
	font-size: 18px;
	color: #F7A1A1;
	letter-spacing: 2px;
	font-weight: normal;
}

.eighteen_light_salmon {
	font-family: Whitney-Semibold;
	font-size: 18px;
	color: #FFD5D5;
	letter-spacing: 2px;
	font-weight: normal;
}

h3 {
	font-family: Whitney-Book;
	font-size: 18px;
	color: #2B2B2B;
	letter-spacing: 1px;
	font-weight: normal;
}

h4 {
	font-family: Whitney-Book;
	font-size: 14px;
	color: #2B2B2B;
	letter-spacing: 1px;
	font-weight: normal;
}

.room_code_font {
	font-family: Whitney-Semibold;
	font-size: 42px;
	color: #F7A1A1;
	letter-spacing: 2px;
	font-weight: normal;
}
.game_timer_font {
	font-family: Whitney-Semibold;
	font-size: 42px;
	color: white;
	letter-spacing: 2px;
	font-weight: normal;
}
.pink_h1 {
	font-family: Whitney-Semibold;
	font-size: 26px;
	color: #F7A1A1;
	letter-spacing: 2px;
	font-weight: normal;
}

.button_text {
	margin: 0px;

}

.small_pink_line {
	width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:10px;
	margin-bottom: 20px;
	background-color: #F7A1A1;

}

.in_app_orange_buttons {
	position: relative;
	display: inline-block;
	width: 166px;
	height: 49px;
	background: linear-gradient(140deg, #FFDBB5, #FFE0C4);
	border-radius: 100px;
	outline: none;
	border: hidden;
	margin-left: 50%;
	transform: translate(-50%);
	margin-bottom: 55px;
}

.page_header {
	text-align: center;
	margin:0px;
}

.page_body {
	text-align: center;
}

.white_h1{
	font-family: Whitney-Semibold;
	font-size: 26px;
	color: white;
	letter-spacing: 2px;
	font-weight: normal;
}

.small_white_line {
	width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:10px;
	margin-bottom: 20px;
	background-color: white;
}

/*Navigation Styles */

#navigation_wrapper_pink {
	position: relative;
    display: block;
    margin-top: 15%;
    height: 90px;
    width: 100%;
    z-index: 1;
    display: none;


}
#navigation_wrapper {
	position: relative;
    display: block;
    margin-top: 15%;
    height: 90px;
    width: 100%;
    z-index: 1;


}
#rules_page_icon_wrapper {
	position: absolute;
    display: inline-block;
    top: 9%;
    left: 13%;
    transform: translate(-50%, -50%);

}
#rules_page_icon_underline {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:8px;
	margin-bottom: 20px;
	background-color: #E1E1E1;
}

#rules_page_icon_underline2 {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:8px;
	margin-bottom: 20px;
	background-color: #FFEAEA;
}

#shop_page_icon_wrapper {
	position: absolute;
    display: inline-block;
    top: 9%;
    left: 28%;
    transform: translate(-50%, -50%);
}

#shop_page_icon_underline2 {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:8px;
	margin-bottom: 20px;
	background-color: #FFEAEA;
}

#shop_page_icon_underline {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:8px;
	margin-bottom: 20px;
	background-color: #E1E1E1;
}

#home_page_icon_wrapper {
	position: absolute;
    display: inline-block;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#random_page_icon_wrapper {
	position: absolute;
    display: inline-block;
    top: 9%;
    left: 72%;
    transform: translate(-50%, -50%);
}

#random_page_icon_underline {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:8px;
	margin-bottom: 20px;
	background-color: #E1E1E1;
}

#random_page_icon_underline2 {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:8px;
	margin-bottom: 20px;
	background-color: #FFEAEA;
}

#settings_page_icon_wrapper {
	position: absolute;
    display: inline-block;
    top: 9%;
    left: 87%;
    transform: translate(-50%, -50%);
}

#settings_page_icon_underline {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:7px;
	margin-bottom: 20px;
	background-color: #E1E1E1;
}

#settings_page_icon_underline2 {
	position: absolute;
    width: 32px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:7px;
	margin-bottom: 20px;
	background-color: #FFEAEA;
}

/*Home Screen Styles*/

#home_screen_wrapper {
	display: none;
}

#salad_bowl_header_wrapper {
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 277px;
    height: 225px;
}

#salad_bowl_icon {
	position: relative;
    margin: 0px;
    margin-bottom: 20px;
    width: 158px;
    margin-left: 50%;
    transform: translate(-50%);
}

#salad_bowl_header {
	text-align: center;
	margin:0px;
}

#salad_bowl_body {
	text-align: center;
}


#button_home_screen_wrapper {
	position: absolute;
	bottom: 21px;
	left: 50%;
	transform: translate(-50%);

}

.landing_page_buttons {
	position: relative;
	display: inline-block;
	width: 269px;
	height: 49px;
	background: linear-gradient(140deg, #FFDBB5, #FFE0C4);
	border-radius: 100px;
	outline: none;
	border: hidden;
	margin-left: 50%;
	transform: translate(-50%);
	margin-bottom: 24px;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.22);

}

/*Host Game Screen Styles*/

#host_game_screen_wrapper {
	display: none;
}

#host_a_new_game_header_wrapper{
	position: relative;
	margin-bottom: 50px;
}
#enter_player_name_wrapper {
	position: relative;
	margin-bottom: 50px;
}

#player_name_header {
	text-align: center;
}

.enter_player_name_input {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 2px;
	border-color: #FFD5D5;
	border-radius: 10px;
	width: 246px;
	height: 48px;
	outline: none;
	font-family: Whitney-Book;
	font-size: 26px;
	color: #2B2B2B;
	letter-spacing: 1px;
	font-weight: normal;
	text-align: center;
}

#enter_number_of_teams_wrapper {
	position: relative;
	margin-bottom: 50px;
}

#number_of_teams_header {
	text-align: center;
}

#enter_size_of_teams_wrapper {
	position: relative;
	margin-bottom: 50px;
}

#size_of_teams_header {
	text-align: center;
}

#person_selector_wrapper {
	width: 288px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px
}

.pink_person_host_page {
	margin: 8px;
	position: relative;
	display: inline-block;
}

#enter_length_of_turns_wrapper {
	position: relative;
	margin-bottom: 50px;
}

#length_of_turns_header {
	text-align: center;
}

#length_of_turns_construct_wrapper {
	width: 65%;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#arrow_left {
	position: absolute;
	left: 0px;
	top: 55%;
	transform: translate(0%,-50%);
	z-index: 2;
}
#arrow_right {
	position: absolute;
	right: 0px;
	top: 55%;
	transform: translate(0%,-50%);
	z-index: 2;
}
#length_of_turns_string {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-family: Whitney-Book;
	font-size: 26px;
	color: #2B2B2B;
	letter-spacing: 1px;
	font-weight: normal;
	text-align: center;
	z-index: 1;

}

#enter_cards_per_player_wrapper {
	position: relative;
	margin-bottom: 50px;
}

#cards_per_player_header {
	text-align: center;
}

#cards_playground_wrapper {
	width: 65%;
	height: 110px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}
#minus {
	position: absolute;
	left: 0px;
	top: 55%;
	transform: translate(0%,-50%);
}
#plus {
	position: absolute;
	right: 0px;
	top: 55%;
	transform: translate(0%,-50%);
}

.small_cards {
	position: relative;
	display: inline-block;
	width: 79px;
	height: 99px;
	transform: translate(-50%);
	margin-left: 50%;
	background-color: white;
	box-shadow: 0px 2px 10px rgba(152, 112, 75, 0.22);
	border-radius: 5px;

}

#number_of_cards_per_player {
	position: relative;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

/*Join Game Screen Styles*/

#join_game_screen_wrapper {
	display: none;
}

#join_an_existing_game_header_wrapper{
	position: relative;
	margin-bottom: 50px;
}

#enter_room_code_wrapper {
	position: relative;
	margin-bottom: 50px;
}

#enter_room_code_header {
	text-align: center;
}

.enter_room_code_input {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 2px;
	border-color: #FFD5D5;
	border-radius: 10px;
	width: 246px;
	height: 68px;
	outline: none;
	font-family: Whitney-SemiBold;
	font-size: 42px;
	color: #F7A1A1;
	letter-spacing: 1px;
	font-weight: normal;
	text-align: center;
}

/*Game Waiting Area Screen Styles*/

/*#game_waiting_area_screen_wrapper {
	display: none;
}*/

#game_waiting_area_header_wrapper{
	position: relative;
	margin-bottom: 60px;
}

#game_waiting_area_header {
	position: relative;
	position: block;
	margin-bottom: 10px;
}

#players_joined_counter {
	position: relative;
	position: block;
	margin-top: 10px;
	text-align: center;
}
#room_code_text {
	position: relative;
	position: block;
	text-align: center;
}

#fun_fact_of_the_day_wrapper {
	position: relative;
	margin-bottom: 80px;
}

#fun_fact_header {
	text-align: center;
}

#fun_fact_body_text {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#team_selection_text_wrapper {
	opacity: 1;
	transition: opacity 1s;
}

/*#team_selection_wrapper {
	position: fixed;
	height: 400px;
	width: 100%;
	bottom: 0px;
}*/
#team_selection_background {
	position: absolute;
	height: 596px;
	width: 100%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: white;
	box-shadow: 0px -3px 10px rgba(152, 112, 75, 0.10);
	z-index: 2;

}
/*#team_selection_header_wrapper {
	position: relative;
	display: block;
	margin-top: 0px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;

}*/
#arrow_up {
	position: absolute;
	left: 8%;
	top: 55%;
	transform: translate(-50%,-50%);
}

#team_selection_header {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;
	z-index: 2;
}
#change_team_name_wrapper {
	visibility: hidden;
}
#change_team_name {
	color: #F7A1A1;
	z-index: 2;
}


#team_identifier_wrapper {
	position: relative;
	z-index: 2;
}

#team_saved_name {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#change_team_name {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}

/*NEW CODE*/

#team_select_button1 {
	display: none;
}
.in_app_grey_buttons {
	width: 166px;
    position: absolute;
    height: 49px;
    background-color: #EEEEEE;
    border-radius: 100px;
    outline: none;
    border: hidden;
    right: 5%;
}

.button_text_grey {
	margin: 0px;
    color: #9D9D9D;
}

#in_a_team_button_wrapper {
	position: relative;
    display: block;
    width: 100%;
    margin: auto;
    height: 50px;
    z-index: 2;
/*    display: none;*/
}

/*#add_to_deck_button {
	position: absolute;
    width: 166px;
    height: 49px;
    background: linear-gradient(140deg, #FFDBB5, #FFE0C4);
    border-radius: 100px;
    outline: none;
    border: hidden;
    left: 5%;
    margin: 0px;
    transform: translate(0%);
    display: block;
}*/

.team_selected_button {
	z-index: 2;
    margin: 0px;
}
/*NEW CODE ENDS HERE*/


#team_list_icons_wrapper {
	position: relative;
    display: block;
    margin-top: 25px;
    z-index: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 7.5%;

}
.spot_wrapper {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 57px;
	margin-left: 5%;
    margin-right: 5%;
    transform: translate(-50%);
}
.spot_icon {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;

}
.spot_text {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
}

.team_selection_button {
	z-index: 2;
}

#breadcrumb_wrapper {
	position: absolute;
	z-index: 2;
	transform: translate(-50%);
	margin-left: 50%;
	bottom: 45px;

}

.breadcrumb_inactive {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #F7A1A1;
	border-radius: 20px;
	margin-left: 8px;
	margin-right: 8px;
}

/*Add To The Deck Styles*/
/*#add_to_the_deck_screen_wrapper {
	z-index: 4;
	display: none;
	animation-fill-mode: forwards;
}*/

/*#add_to_the_deck_header_wrapper{
	position: relative;
	margin-bottom: 60px;
	z-index: 4;
}*/

#add_to_the_deck_header {
	position: relative;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 10px;
	z-index: 4;
}

#add_to_the_deck_body {
	text-align: center;
	z-index: 4;
}

/*#arrow_left_add_to_deck {
	position: absolute;
	left: 12%;
	top: 18%;
	transform: translate(0%,-50%);
	z-index: 4;
}*/

#enter_player_name_wrapper {
	position: relative;
	margin-bottom: 50px;
	z-index: 4;
}

#player_name_header {
	text-align: center;
	z-index: 4;
}

.enter_player_name_input_deck_add {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 2px;
	border-color: #FFD5D5;
	border-radius: 10px;
	width: 246px;
	height: 48px;
	outline: none;
	font-family: Whitney-Book;
	font-size: 26px;
	color: #2B2B2B;
	letter-spacing: 1px;
	font-weight: normal;
	text-align: center;
	z-index: 4;
}

/*
#add_to_the_deck_background {
	position: absolute;
	height: 82%;
	width: 100%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: white;
	box-shadow: 0px -5px 8px rgba(152, 112, 75, 0.10);
	z-index: 3;
	bottom: 0%;
}
 */


.submit_to_the_deck_button {
	z-index: 4;
}

/*Pass The Phone Page*/

#in_game_background_color {
	height: 110%;
	width: 110%;
	position: absolute;
	top: -10%;
	display: none;

}

#pass_the_phone_body {
	font-family: Whitney-Book;
	font-size: 26px;
	color: #2B2B2B;
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	margin-top: 0px;
}

#pass_the_phone_to_screen_wrapper {
	position: absolute;
	top: 22%;
	width: 100%;
	height: 70%;
	border-radius: 40px;
	transform: translate(-50%);
	left: 50%;
	z-index: 4;
	background-color: white;
	display: none;

}

#pass_the_phone_button {
	position: absolute;
	bottom: 7%;
	transform: translate(-50%);
	left: 50%;
}

#phone_icon {
	position: relative;
    margin: 0px;
    margin-bottom: 20px;
    width: 90px;
    margin-left: 50%;
    margin-top: 18%;
    transform: translate(-50%);
    z-index: 4;
}

/*In-Game Card Swiping Screen*/


#active_game_play_wrapper {
	display: none;
}

#question_master_wrapper{
	position: relative;
	margin-bottom: 50px;
	text-align: center;
}

#question_giver_header {
	margin-bottom: 28px;
	margin-top: 0px;
}

#team_number {
	text-align: center;
}
#question_giver {
	text-align: center;
	margin-top: 0px;
}
#playing_card1 {
	position: absolute;
	width: 100%;
	height:35%;
	z-index: 10;
	background-color: white;
	border-radius: 40px;
	bottom: 10%;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.42);

}

#card_1_header {
	position: relative;
	display: block;
	margin-top: 6%;
	text-align: center;
}

.correct_card_button {
	position: absolute;
	display: block;
	transform: translate(-50%);
	left: 50%;
	bottom: 12%;
}

.textsubmission {
	text-align: center;
}


#playing_card2 {
	position: absolute;
	width: 100%;
	height:35%;
	z-index: 9;
	background-color: #FFECF7;
	border-radius: 40px;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.42);
	bottom: 12%;

}
#playing_card3 {
	position: absolute;
	width: 100%;
	height:35%;
	z-index: 8;
	background-color: #FEDAF2;
	border-radius: 40px;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.42);
	bottom: 14%;

}
#playing_card4 {
	position: absolute;
	width: 100%;
	height:35%;
	z-index: 7;
	background-color: #F3C4E6;
	border-radius: 40px;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.42);
	bottom: 16%;

}
#playing_card5 {
	position: absolute;
	width: 100%;
	height:35%;
	z-index: 6;
	background-color: #E1B1D7;
	border-radius: 40px;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.42);
	bottom: 18%;

}
#playing_card6 {
	position: absolute;
	width: 100%;
	height:35%;
	z-index: 5;
	background-color: #D3A2CC;
	border-radius: 40px;
	box-shadow: 0px 5px 5px rgba(152, 112, 75, 0.42);
	bottom: 20%;

}

#game_timer{
	position: absolute;
	bottom: 2%;
	transform: translate(-50%);
	left: 50%;
}


/*Round Breakdown Screen*/


#round_breakdown_wrapper {
	z-index: 4;
	display: none;
}

#round_breakdown_header_wrapper{
	position: relative;
	margin-bottom: 60px;
	z-index: 4;
}

#round_breakdown_header {
	position: relative;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	z-index: 4;
	margin-top: 10px;
}

#round_breakdown_body {
	text-align: center;
	z-index: 4;
}

#round_breakdown_background {
	position: absolute;
	height: 83%;
	width: 100%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: white;
	box-shadow: 0px -5px 8px rgba(152, 112, 75, 0.10);
	z-index: 3;
	top: 17%;
}



#team_one_wrapper {
	position: relative;
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    z-index: 4;
    margin-bottom: 50px;
}
#team_two_wrapper {
	position: relative;
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    z-index: 4;
    margin-bottom: 50px;
}
#team_three_wrapper {
	position: relative;
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    z-index: 4;
    margin-bottom: 50px;
}
#team_four_wrapper {
	position: relative;
    display: block;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    z-index: 4;
    margin-bottom: 50px;
}
#team_title_one {
	position: relative;
    display: block;
    font-family: Whitney-Semibold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#team_score_one {

	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


#round_break_timer {
	position: relative;
	display: block;
	margin-bottom: 20px;
	color: #919191;
	z-index: 5;
	text-align: center;

}

.pts {
	position: relative;
	display: inline-block; 
	margin-bottom: 0px;
	margin-left: 10px;
}

.round_breakdown_button {
	z-index: 4;
	margin-bottom: 10px;
}


/*Final Breakdown Screen*/

table {
	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
th {
	position: relative;
    text-align: left;
    z-index: 4;   
}

td {
	right: 0px;
    font-family: Whitney-Semibold;
    font-size: 18px;
    color: #F7A1A1;
    letter-spacing: 2px;
    font-weight: normal;
    position: absolute;  
    z-index: 4;
}

.long_pink_line {
	position: relative;
	display: block;
	width: 200px;
	height: 2px;
	border-radius: 100px;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top:10px;
	margin-bottom: 20px;
	background-color: #F7A1A1;
	z-index: 4;

}

#final_breakdown_wrapper {
	z-index: 4;
	display: none;
}

#final_breakdown_header_wrapper{
	position: relative;
	margin-bottom: 60px;
	z-index: 4;
}

#final_breakdown_header {
	position: relative;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	z-index: 4;
	margin-top: 10px;
}

#final_breakdown_body {
	text-align: center;
	z-index: 4;
}

#final_breakdown_background {
	position: absolute;
	height: 87%;
	width: 100%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: white;
	box-shadow: 0px -5px 8px rgba(152, 112, 75, 0.10);
	top: 17%;
	z-index: 3;
}

.final_team_stats_wrapper {
	z-index: 4;
	margin-bottom: 50px;
}


.answers_wrapper {
	width: 240px;
	height: 20px;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	z-index: 4;
	margin-bottom: 10px;
}
.final_answers {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	font-family: Whitney-Semibold;
	z-index: 4;
	margin: 0px;
}

.checkmark {
	position: absolute;
	transform: translate(0%, -50%);
	top: 50%;
	left: 20px;
	z-index: 4;
}

.final_breakdown_button {
	margin-bottom: 24px;
	z-index: 4;

}

#end_game_button{
	margin-bottom: 55px;
}

/*How To Play Screen*/

#how_to_play_section_wrapper {
	display: none;
}

#how_to_play_header_wrapper {
	position: relative;
	margin-bottom: 60px;
	z-index: 4;
}
#how_to_play_header {
	position: relative;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	z-index: 4;
	margin-top: 10px;
}

#how_to_play_body {
	text-align: center;
	z-index: 4;
}

.rules_wrapper {
	position: relative;
	display: block;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
#rule_one_image {
	position: relative;
	display: block;
}

/*How To Play Screen*/

#how_to_play_header_wrapper {
position: relative;
margin-bottom: 60px;
z-index: 4;
}
#how_to_play_header {
position: relative;
display: block;
margin-bottom: 10px;
text-align: center;
z-index: 4;
margin-top: 10px;
}

#how_to_play_body {
text-align: center;
z-index: 4;
}

.rules_wrapper {
position: relative;
display: block;
width: 80%;
margin-right: auto;
margin-left: auto;
margin-bottom: 50px;
}
.rules_images {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}

.rules_headers {
position: relative;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

.rules_body {
position: relative;
text-align: center;
display: block;
width: 90%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.fadeoutteam {
opacity: 1;
transition: opacity 1s;
}

/*Jordan CSS @ 3:43 on 4.30.18;*/
#team_selection_header_wrapper {
position: relative;
display: block;
margin-top: 0px;
width: 250px;
margin-left: auto;
margin-right: auto;
z-index: 2;
}

#team_selection_wrapper {
position: fixed;
height: 400px;
width: 100%;
bottom: -47%;
}

#add_to_deck_button {
    position: absolute;
    width: 166px;
    height: 49px;
    background: linear-gradient(140deg, #FFDBB5, #FFE0C4);
    border-radius: 100px;
    outline: none;
    border: hidden;
    left: 5%;
    margin: 0px;
    transform: translate(0%);
}

#add_to_the_deck_header_wrapper{
position: relative;
margin-bottom: 60px;
z-index: 4;
}

#add_to_the_deck_background {
position: absolute;
height: 82%;
width: 100%;
border-top-right-radius: 40px;
border-top-left-radius: 40px;
background-color: white;
box-shadow: 0px -5px 8px rgba(152, 112, 75, 0.10);
z-index: 3;
bottom: 0%;
}

#game_waiting_area_screen_wrapper {
/* display: block;*/
}

#add_to_the_deck_screen_wrapper {
z-index: 4;
display: none;
}

#arrow_left_add_to_deck {
position: absolute;
left: 12%;
top: 18%;
transform: translate(0%,-50%);
z-index: 4;
}